<!DOCTYPE html>
<html>
 
<head>
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
 
    <style>


        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        h1 {
            font-family: arial;
        }
    </style>
</head>
 
<body>
    <center>
        <h1>Quarterly Reports Cangshan</h1>
        <body>
            <a href="{{ url_for('generate_excel') }}" download>Download Excel</a>
        </body>
        <b>Search the table for specific row</b>
          <input id="gfg" type="text"
                 placeholder="Search here">
        </b>
        <br>
        <br>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <div>
            <div id="tableContainer">
                {% if table %}
                    {{ table|safe }}
                {% else %}
                    <p>No data available.</p>
                {% endif %}
            </div>
        </div>
        
        <canvas id="myChart"></canvas>
        
        <script>
            
            $(document).ready(function() {
                $("#gfg").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    var visibleRows = $("#tableContainer tr").filter(function() {
                        return $(this).text().toLowerCase().indexOf(value) > -1;
                    });
        
                    if (visibleRows.length === 1) {
                        var rowData = [];
                        visibleRows.find('td').each(function() {
                            rowData.push($(this).text());
                        });
                        var jsVar = "{{ buffer }}";
                        var myarr = jsVar.split(",")
                        
                        let length = rowData.length;
                        let length1 = jsVar.length;
                        displayChart(myarr, rowData.slice(2,length-3));

                    } else {
                        hideChart();
                    }
                    $("#tableContainer tr").each(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                    });
                });
            });
        

            var chart = null;
        
            function displayChart(label, value) {
                var ctx = document.getElementById('myChart').getContext('2d');
        
                const barColors = ["blue"];
                if (chart) {
                    chart.destroy();
                }
        
                var data = {
                    labels: label,
                    datasets: [{
                        label: label,
                        data: value,
                        backgroundColor: barColors,
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                };
        
                var config = {
                    type: 'line',
                    data: data,
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                };
        

                chart = new Chart(ctx, config);
            }
        
            function hideChart() {
                var ctx = document.getElementById('myChart').getContext('2d');

                if (chart) {
                    chart.destroy();
                }
            }
        </script>
